<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @task.content %>
</p>

<p>
  <strong>List:</strong>
  <%= @task.list.title %>
</p>

<p>
  <strong>Steps:</strong>
  <%@task.steps.each do |step| %>
    <p>
      <%=step.content%> | 
      <%=link_to 'Details', list_task_step_path(@task,step)%> |  
      <%=link_to 'Edit', edit_list_task_step_path(@task,step)%>
    </p>
  <%end%>
</p>
<%= link_to 'Edit', edit_list_task_path(@task) %> |
<%= link_to 'Back', @task.list %>
