<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @step.content %>
</p>

<p>
  <strong>Task:</strong>
  <%= @step.task.content%>
</p>

<%= link_to 'Edit', edit_list_task_step_path(@step.task.list,@step.task,@step) %> |
<%= link_to 'Back', list_task_path(@step.task.list,@step.task) %>
